@import "~ngx-bootstrap/datepicker/bs-datepicker";
@import "~ngx-toastr/toastr.css";
@import "~bootswatch/dist/simplex/variables";
@import "~bootstrap/scss/bootstrap";
@import "~bootswatch/dist/simplex/bootswatch";
