appsettings.json
# Created by https://www.toptal.com/developers/gitignore/api/dotnetcore,visualstudiocode,windows
# Edit at https://www.toptal.com/developers/gitignore?templates=dotnetcore,visualstudiocode,windows

### DotnetCore ###
# .NET Core build folders
bin/
obj/
# Common node modules locations
/node_modules
/wwwroot/node_modules
**/wwwroot
### VisualStudioCode ###
**/.vscode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace
publish
# Local History for Visual Studio Code
.history/

### VisualStudioCode Patch ###
# Ignore all local history of files
.history
.ionide

# Support for Project snippet scope
!.vscode/*.code-snippets

### Windows ###
# Windows thumbnail cache files
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db

# Dump file
*.stackdump

# Folder config file
[Dd]esktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msix
*.msm
*.msp
wwwroot
.vscode/**
.vs/**
# Windows shortcuts
*.lnk
**/*/appsettings.json
# End of https://www.toptal.com/developers/gitignore/api/dotnetcore,visualstudiocode,windows