<div *ngIf="cart$ | async as cart" class="container">
  <ng-container *ngIf="cart.items.length <= 0; else list">
    <h1>Your Cart Is Empty, Start Shopping Here</h1>
  </ng-container>
  <ng-template #list>
    <div class="pb-5">
      <div class="container">
        <div class="row">
          <div class="col-12 py-5 mb-1">
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th class="border-0 bg-light" scope="col">
                      <div class="p-2 px-3 text-uppercase">Product</div>
                    </th>
                    <th class="border-0 bg-light" scope="col">
                      <div class="py-2 text-uppercase">Price</div>
                    </th>
                    <th class="border-0 bg-light" scope="col">
                      <div class="py-2 text-uppercase">Quantity</div>
                    </th>
                    <th class="border-0 bg-light" scope="col">
                      <div class="py-2 text-uppercase">Total</div>
                    </th>
                    <th class="border-0 bg-light" scope="col">
                      <div class="py-2 text-uppercase">Remove</div>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of cart.items">
                    <th scope="row">
                      <div class="p-2 d-flex">
                        <img
                          src="{{ item.pictureUrl }}"
                          alt="{{ item.productName }}"
                          class="img-fluid"
                          style="max-height: 55px"
                        />
                        <div class="ms-3 d-inline align-middle">
                          <h5 class="mb-0">
                            <a
                              routerLink="/shop/{{ item.id }}"
                              class="text-dark"
                              >{{ item.productName }}</a
                            >
                          </h5>
                          <span
                            class="
                              text-muted
                              font-weight-normal font-italic
                              d-block
                            "
                            >Type: {{ item.type }}</span
                          >
                        </div>
                      </div>
                    </th>
                    <td class="align-middle">
                      <strong>{{ item.price | currency }}</strong>
                    </td>
                    <td class="align-middle">
                      <div class="d-flex align-items-center">
                        <i
                          class="me-2 fa fa-minus-circle text-warning"
                          style="cursor: pointer; font-size: 2em"
                        ></i>
                        <span
                          class="font-weight-bold"
                          style="font-size: 1.5em"
                          >{{ item.quantity }}</span
                        >
                        <i
                          class="ms-2 fa fa-plus-circle text-warning"
                          style="cursor: pointer; font-size: 2em"
                        ></i>
                      </div>
                    </td>
                    <td class="align-middle">
                      <strong>{{ item.price * item.quantity }}</strong>
                    </td>
                    <td class="align-middle text-center">
                      <a class="text-danger cursor-pointer" role="button">
                        <i class="fa fa-trash" style="font-size: 2em"></i>
                      </a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-6 offset-6">
            <app-order-totals></app-order-totals>
            <a
              routerLink="/checkout"
              class="btn btn-outline-primary py-2 btn-block"
              role="button"
            >
              Proceed to checkout
            </a>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</div>
