<div *ngIf="cart$ | async as cart" class="container">
  <ng-container *ngIf="cart.items.length <= 0; else list">
    <h1>Your Cart Is Empty, Start Shopping Here</h1>
  </ng-container>
  <ng-template #list>
    <div class="pb-5">
      <div class="container">
        <div class="row">
          <div class="col-12 py-5 mb-1">
            <app-cart-summary
              (remove)="onRemoveClicked($event)"
              (increment)="onItemIncrementClick($event)"
              (decrement)="onItemDecrementCLick($event)"
              [allowEdits]="true"
            ></app-cart-summary>
          </div>
        </div>
        <div class="row">
          <div class="col-6 offset-6">
            <app-order-totals></app-order-totals>
            <a
              routerLink="/checkout"
              class="btn btn-primary py-2 d-block"
              role="button"
            >
              Proceed to checkout
            </a>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</div>
