<div *ngIf="cart$ | async as cart" class="overflow-auto">
  <table class="table">
    <thead>
      <tr [class.bg-light]="allowEdits">
        <th scope="col">
          <div class="p-2 px-3 text-uppercase">Product</div>
        </th>
        <th scope="col">
          <div class="py-2 text-uppercase">Price</div>
        </th>
        <th scope="col">
          <div class="py-2 text-uppercase">Quantity</div>
        </th>
        <th scope="col">
          <div class="py-2 text-uppercase">Total</div>
        </th>
        <th *ngIf="allowEdits" scope="col">
          <div class="py-2 text-uppercase">Remove</div>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of cart.items">
        <th scope="row">
          <div class="p-2 d-flex flex-column flex-md-row">
            <img
              src="{{ item.pictureUrl }}"
              alt="{{ item.productName }}"
              class="img-fluid cart-image"
            />
            <div class="align-middle ms-3 d-none d-md-inline">
              <h5 class="mb-0">
                <a routerLink="/shop/{{ item.id }}" class="text-dark">{{
                  item.productName
                }}</a>
              </h5>
              <span class="text-muted font-weight-normal font-italic d-block"
                >Type: {{ item.type }}</span
              >
            </div>
          </div>
        </th>
        <td class="align-middle">
          <strong>{{ item.price | currency }}</strong>
        </td>
        <td class="align-middle">
          <div
            class="d-flex align-items-center"
            [class.justify-content-center]="!allowEdits"
          >
            <i
              class="me-2 fa fa-minus-circle text-warning"
              style="cursor: pointer; font-size: 2em"
              (click)="decrementItemQuantity(item)"
              *ngIf="allowEdits"
            ></i>
            <span class="font-weight-bold" style="font-size: 1.5em">{{
              item.quantity
            }}</span>
            <i
              class="ms-2 fa fa-plus-circle text-warning"
              style="cursor: pointer; font-size: 2em"
              (click)="incrementItemQuantity(item)"
              *ngIf="allowEdits"
            ></i>
          </div>
        </td>
        <td class="align-middle">
          <strong>{{ item.price * item.quantity }}</strong>
        </td>
        <td *ngIf="allowEdits" class="text-center align-middle">
          <a class="cursor-pointer text-danger" role="button">
            <i
              class="fa fa-trash"
              style="font-size: 2em"
              (click)="removeItem(item)"
            ></i>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
