<div style="overflow: hidden; height: 100%">
  <carousel>
    <slide>
      <img
        src="assets/images/hero1.jpg"
        alt="first slide"
        style="display: block; width: 100%"
      />
    </slide>
    <slide>
      <img
        src="assets/images/hero2.jpg"
        alt="first slide"
        style="display: block; width: 100%"
      />
    </slide>
    <slide>
      <img
        src="assets/images/hero3.jpg"
        alt="first slide"
        style="display: block; width: 100%"
      />
    </slide>
  </carousel>
  <section class="featured">
    <div class="pt-4 d-flex justify-content-center">
      <h1>Welcome To The NgNetStore</h1>
    </div>
  </section>
</div>
