<div class="mt-4" [formGroup]="checkoutForm" style="max-width: 440px">
  <div class="row">
    <div class="col-sm-12">
      <div class="alert alert-primary" role="alert">
        Use Card: 4242 4242 4242 4242 for testing,
      </div>
    </div>
    <div class="my-2 form-group col-12" formGroupName="paymentForm">
      <app-text-input
        [label]="'Card Holder Name'"
        formControlName="nameOnCard"
      ></app-text-input>
    </div>
    <div class="form-group col-6">
      <div #cardNumber class="py-3 form-control"></div>
      <ng-container *ngIf="cardErrors">
        <span class="text-danger">{{ cardErrors }}</span>
      </ng-container>
    </div>
    <div class="form-group col-3">
      <div #cardExpiry class="py-3 form-control"></div>
    </div>
    <div class="form-group col-3">
      <div #cardCvc class="py-3 form-control"></div>
    </div>
  </div>
</div>

<div class="float-none my-5 d-flex justify-content-between">
  <button [disabled]="loading" class="btn btn-primary" cdkStepperPrevious>
    <i class="fa fa-angle-left"></i> Back To Review
  </button>
  <button
    [disabled]="shouldSubmitButtonDisable()"
    class="btn btn-primary"
    (click)="submitOrder()"
  >
    Submit Order<i class="fa fa-angle-right"></i>
    <i *ngIf="loading" class="fa fa-spinner fa-spin"></i>
  </button>
</div>
