<div class="mt-4" [formGroup]="checkoutForm">
  <h4>Choose a delivery method</h4>
  <div class="row ms-5" formGroupName="deliveryForm">
    <div class="my-4 col-6 form-check" *ngFor="let method of deliveryMethods">
      <input
        type="radio"
        id="{{ method.id }}"
        value="{{ method.id }}"
        formControlName="deliveryMethod"
        class="form-check-input"
        (click)="setShippingPrice(method)"
      />
      <label for="{{ method.id }}" class="form-check-label">
        <strong>{{ method.shortName }} - {{ method.price | currency }}</strong>
        <br />
        <span class="label-description">{{ method.description }}</span>
      </label>
    </div>
  </div>
</div>

<div class="float-none mb-5 d-flex justify-content-between flex-lg-row">
  <button class="btn btn-outline-primary" cdkStepperPrevious>
    <i class="fa fa-angle-left"></i> Back To Address
  </button>
  <button
    [disabled]="checkoutForm.get('deliveryForm')!.invalid"
    class="btn btn-outline-primary"
    cdkStepperNext
  >
    Go To Review<i class="fa fa-angle-right"></i>
  </button>
</div>
