<div class="container">
  <div class="row">
    <section class="col-md-12 col-lg-2" *ngIf="brands && types">
      <div
        class="my-2  d-flex justify-content-between align-items-center flex-md-column align-items-md-start"
      >
        <h5 class="ml-3 text-warning">Sort</h5>
        <select
          class="mb-3 form-control left-selects"
          (change)="onSortSelected($event)"
        >
          <option *ngFor="let option of sortOptions" [value]="option.value">
            {{ option.name }}
          </option>
        </select>
      </div>
      <div
        class="my-2  d-flex justify-content-between align-items-center flex-md-column align-items-md-start"
      >
        <h5 class="p-0 m-0 ml-3 text-warning">Brands</h5>
        <select
          #brand
          class="form-select left-selects"
          aria-label="Brand selection"
          (change)="onBrandSelected(brand.value)"
        >
          <option *ngFor="let brand of brands" [value]="brand.id">
            {{ brand.name }}
          </option>
        </select>
      </div>
      <div
        class="my-2  d-flex justify-content-between align-items-center flex-md-column align-items-md-start"
      >
        <h5 class="p-0 m-0 ml-3 text-warning">Types</h5>
        <select
          #type
          class="form-select left-selects"
          aria-label="Type selection"
          (change)="onTypeSelected(type.value)"
        >
          <option *ngFor="let type of types" [value]="type.id">
            {{ type.name }}
          </option>
        </select>
      </div>
    </section>

    <section class="col-md-12 col-lg-10">
      <div
        class=" d-flex flex-sm-column-reverse flex-md-row justify-content-between align-items-center column-sm"
      >
        <app-paging-header
          [count]="count"
          [pageIndex]="shopParams.pageIndex"
          [pageSize]="shopParams.pageSize"
        ></app-paging-header>
        <div class="gap-2 d-flex form-inline align-items-center">
          <input
            #search
            type="text"
            class="mr-2 form-control form-control-md"
            placeholder="Search"
            (keyup.enter)="onSearch()"
          />
          <button class="my-2 btn btn-outline-primary" (click)="onSearch()">
            Search
          </button>
          <button class="my-2 btn btn-outline-success" (click)="onReset()">
            Reset
          </button>
        </div>
      </div>
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <app-product-item
          *ngFor="let product of productList"
          [product]="product"
        ></app-product-item>
      </div>
      <div class="d-flex justify-content-center" *ngIf="count">
        <app-pager
          [count]="count"
          [pageSize]="shopParams.pageSize"
          (pageChanged)="onPageChanged($event)"
        ></app-pager>
      </div>
    </section>
  </div>
</div>
