<div class="container">
  <div class="row">
    <section class="col-3" *ngIf="brands && types">
      <h5 class="ml-3 text-warning">Sort</h5>
      <select class="mb-3 form-control" (change)="onSortSelected($event)">
        <option *ngFor="let option of sortOptions" [value]="option.value">
          {{ option.name }}
        </option>
      </select>

      <h5 class="ml-3 text-warning">Brands</h5>
      <ul class="my-3 list-group">
        <li
          class="list-group-item"
          *ngFor="let brand of brands"
          [class.active]="brand.id === this.shopParams.brandId"
          [value]="brand.id"
          (click)="onBrandSelected(brand.id)"
        >
          {{ brand.name }}
        </li>
      </ul>
      <h5 class="ml-3 text-warning">Types</h5>
      <ul class="my-3 list-group">
        <li
          class="list-group-item"
          *ngFor="let type of types"
          [class.active]="type.id === this.shopParams.typeId"
          [value]="type.id"
          (click)="onTypeSelected(type.id)"
        >
          {{ type.name }}
        </li>
      </ul>
    </section>

    <section class="col-9">
      <div class="pb-2 d-flex justify-content-between align-items-center">
        <app-paging-header
          [count]="count"
          [pageIndex]="shopParams.pageIndex"
          [pageSize]="shopParams.pageSize"
        ></app-paging-header>
        <div class="gap-2 d-flex form-inline align-items-center mt2">
          <input
            #search
            type="text"
            class="mr-2 form-control form-control-md"
            style="width: 270px"
            placeholder="Search"
            (keyup.enter)="onSearch()"
          />
          <button class="my-2 btn btn-outline-primary" (click)="onSearch()">
            Search
          </button>
          <button class="my-2 btn btn-outline-success" (click)="onReset()">
            Reset
          </button>
        </div>
      </div>
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <app-product-item
          *ngFor="let product of productList"
          [product]="product"
        ></app-product-item>
      </div>
      <div class="d-flex justify-content-center" *ngIf="count">
        <app-pager
          [count]="count"
          [pageSize]="shopParams.pageSize"
          (pageChanged)="onPageChanged($event)"
        ></app-pager>
      </div>
    </section>
  </div>
</div>
