<div class="container fixed-top">
  <div
    class="
      pb-3
      mb-4
      bg-white
      d-flex
      flex-column flex-md-row
      align-items-center
      justify-content-between
      border-bottom
    "
  >
    <img
      src="/assets/images/logo.png"
      style="max-height: 70px"
      alt="logo"
      class="logo"
      routerLink="/"
    />

    <nav
      class="mt-2 d-inline-flex mt-md-0 text-uppercase"
      style="font-size: larger"
    >
      <a
        class="py-2 me-3 text-decoration-none"
        routerLink="/"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        >Home</a
      >
      <a
        class="py-2 me-3 text-decoration-none"
        routerLink="/shop"
        routerLinkActive="active"
        href="#"
        >Shop</a
      >
      <a class="py-2 text-decoration-none" href="#">Contact</a>
    </nav>
    <div class="d-flex align-items-center">
      <a routerLink="/cart" class="position-relative">
        <i class="mr-5 fa fa-shopping-cart fa-2x text-dark"></i>
        <div *ngIf="cart$ | async as cart" class="cart-no">
          {{ cart.items.length }}
        </div>
      </a>
      <ng-container *ngIf="(currentUser$ | async)?.email === ''; else logged">
        <a
          routerLink="/account/register"
          role="button"
          class="d-block btn btn-outline-secondary ms-2"
          >Sign up</a
        >
        <a
          routerLink="/account/login"
          role="button"
          class="d-block btn btn-outline-secondary ms-3"
          >Login</a
        >
      </ng-container>
      <ng-template #logged>
        <div class="dropdown ms-3 me-5" dropdown>
          <a class="dropdown-toggle" role="button" dropdownToggle
            ><strong
              >Welcome {{ (currentUser$ | async)?.displayName }}</strong
            ></a
          >
          <div
            role="button"
            class="dropdown-menu dropdown-menu-right"
            *dropdownMenu=""
          >
            <a
              routerLink="/cart"
              class="dropdown-item d-flex align-items-center py-2"
            >
              <i class="fa fa-shopping-cart me-3"></i>Shopping Cart
            </a>
            <a
              routerLink="/orders"
              class="dropdown-item d-flex align-items-center py-2"
            >
              <i class="fa fa-history me-3"></i>View Orders
            </a>
            <div class="dropdown-divier"></div>
            <a
              (click)="logout()"
              class="dropdown-item d-flex align-items-center py-2"
            >
              <i class="fa fa-sign-out me-3"></i>Logout
            </a>
          </div>
        </div>
      </ng-template>
    </div>
  </div>
</div>
