<div class="container fixed-top">
  <div
    class="
      d-flex
      flex-column flex-md-row
      align-items-center
      justify-content-between
      pb-3
      mb-4
      border-bottom
      bg-white
    "
  >
    <img
      src="/assets/images/logo.png"
      style="max-height: 70px"
      alt="logo"
      class="logo"
      routerLink="/"
    />

    <nav
      class="d-inline-flex mt-2 mt-md-0 text-uppercase"
      style="font-size: larger"
    >
      <a
        class="me-3 py-2 text-decoration-none"
        routerLink="/"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        >Home</a
      >
      <a
        class="me-3 py-2 text-decoration-none"
        routerLink="/shop"
        routerLinkActive="active"
        href="#"
        >Shop</a
      >
      <a class="py-2 text-decoration-none" href="#">Contact</a>
    </nav>
    <div class="d-flex align-items-center">
      <a class="position-relative">
        <i class="fa fa-shopping-cart fa-2x mr-5 text-dark"></i>
        <div class="cart-no">8</div>
      </a>
      <a href="" class="d-block btn btn-outline-secondary ms-2">Sign up</a>
      <a href="" class="d-block btn btn-outline-secondary ms-3">Login</a>
    </div>
  </div>
</div>
